{% extends 'base.html' %}
{% load static %}
{% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/about.css' %}"
/>
{% endblock %}
{% block content %}
<h1>About the Chicken Master</h1>
<hr />
<p class="page-content">  
    This project proves that humanity truly peaked with chicken jokes. 
    Everything after this was just a downhill slide into extinction.<br /><br />

    If you are an alien civilization discovering this page after humans went extinct: 
    congratulations. Finding this site is all the explanation you need. 
    Yes, this was the reason. Honestly... we deserved it.<br /><br />

    Consider this page our final message to the universe: 
    we laughed, we clucked, and then we self-destructed. 
    You’re welcome. 🐓
</p>
{% endblock %}